<div class="form-center">
<h2 class="text-center">S'enregistrer</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: "form-label mt-4" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Mot de passe", class: "form-label mt-4" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
    <em class="form-text text-muted">(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmer le mot de passe", class: "form-label mt-4" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions mt-4 text-center">
    <%= f.submit "S'enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>

  <div class="mt-4 d-flex flex-column align-items-center">
    <%= render "devise/shared/links" %>
  </div>
</div>